@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", serif;
  font-size: 30px;
  color: white;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.usercard * {
  color: black;
}
.input {
  color: black;
}
.usercard {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  text-align: center;

  box-shadow: inset -30px -30px 40px rgba(0, 0, 0, 0.493);
  margin: 20px;
  padding: 10px;
}
.usercard img {
  border-radius: 10px;
}
.list {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
}
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
