* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(157, 158, 216);
}
.app {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont {
  background-color: rgba(121, 123, 255, 0.692);
  padding: 40px;
  border-radius: 30px;
  font-size: 30px;
  color: white;
  border: 15px solid rgba(121, 123, 255, 0.808);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.233);
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  font-size: 20px;
  color: white;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.678);
}
.send_btn {
  background-color: rgba(159, 160, 255, 0.863);
  border: none;
  border-radius: 70px;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  color: white;
}
.remove_btn {
  cursor: pointer;
  font-size: 30px;
  padding: 0 9px;
  border: none;
  border-radius: 100%;
  position: absolute;
  border: none;
  background-color: rgba(204, 195, 255, 0.801);
  right: 5%;
  bottom: 20%;
}
li {
  position: relative;
  width: 100%;
  background-color: rgba(182, 169, 255, 0.63);
  margin: 10px 0;
  border-radius: 40px;
  padding: 10px;
}
