@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", serif;
  font-size: 30px;
  color: white;
}
.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bank {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}
.bank * {
  margin: 10px;
}
.commands {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 5px;
}
button {
  padding: 10px;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: rgba(172, 0, 0, 0.411);
}
.btn1,
.btn3 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.btn2,
.btn4 {
  grid-column-start: 3;
  grid-column-end: 5;
}
